<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
    <ol>
        {% for film in films %}
            <li><b>{{ film.name }}</b></li>
            <ul>
                {%  for person in film.cast.all %}
                    <li>{{ person }}</li>
                {% empty %}
                    <p>(No information about the cast)</p>
                {% endfor %}
            </ul>
        {% empty %}
            <p>Movies are coming soon</p>
        {% endfor %}
    </ol>
</body>
</html>
